[submodule "software/1d-blood-flow"]
	path = software/1d-blood-flow
	url = ssh://git@gitlab.computationalscience.nl:1022/insist/1d-blood-flow.git
[submodule "software/virtual_patient_generation"]
	path = software/virtual_patient_generation
	url = ssh://git@gitlab.computationalscience.nl:1022/insist/virtual_patient_generation.git
[submodule "software/thrombectomy"]
	path = software/thrombectomy
	url = ssh://git@gitlab.computationalscience.nl:1022/insist/thrombectomy_python_rs.git
[submodule "software/darcy_multi-comp"]
	path = software/darcy_multi-comp
	url = ssh://git@gitlab.computationalscience.nl:1022/insist/darcy_multi-comp.git
[submodule "software/cell_death_model"]
	path = software/cell_death_model
	url = ssh://git@gitlab.computationalscience.nl:1022/insist/cell_death_model.git
[submodule "software/thrombo-sis-lysis"]
	path = software/thrombo-sis-lysis
	url = ssh://git@gitlab.computationalscience.nl:1022/insist/thrombo-sis-lysis.git
[submodule "software/place_clot"]
	path = software/place_clot
	url = ssh://git@gitlab.computationalscience.nl:1022/insist/place_clot.git
[submodule "software/in-silico-trial-outcome"]
	path = software/in-silico-trial-outcome
	url = ssh://git@gitlab.computationalscience.nl:1022/insist/in-silico-trial-outcome.git
[submodule "software/patient-outcome-model"]
	path = software/patient-outcome-model
	url = ssh://git@gitlab.computationalscience.nl:1022/insist/patient-outcome-model.git
