[submodule "1d-blood-flow"]
	path = software/1d-blood-flow
	url = ../1d-blood-flow.git
[submodule "virtual_patient_generation"]
	path = software/virtual_patient_generation
	url = ../virtual_patient_generation.git
[submodule "thrombectomy"]
	path = software/thrombectomy
	url = ../thrombectomy_python_rs.git
[submodule "thrombo-sis-lysis"]
	path = software/thrombo-sis-lysis
	url = ../thrombo-sis-lysis.git
[submodule "place_clot"]
	path = software/place_clot
	url = ../place_clot.git
[submodule "in-silico-trial-outcome"]
	path = software/in-silico-trial-outcome
	url = ../in-silico-trial-outcome.git
[submodule "patient-outcome-model"]
	path = software/patient-outcome-model
	url = ../patient-outcome-model.git
[submodule "software/perfusion_and_tissue_damage"]
	path = software/perfusion_and_tissue_damage
	url = ../perfusion_and_tissue_damage.git
